<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.archnative.app"
          android:versionName="1.0"
          android:versionCode="1"
          android:installLocation="auto">

    <application android:label="ArchNative" android:icon="@drawable/icon" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
                  android:label="ArchNative"
                  android:screenOrientation="landscape"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- OpenXR Metadata -->
            <meta-data android:name="android.app.lib_name" android:value="ArchNative"/>
            <meta-data android:name="org.khronos.openxr.intent_filter" android:value="true"/>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33"/>
    <uses-feature android:glEsVersion="0x00030002" android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>
